.btn-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  font-size: 1.2rem;
  background-color: chartreuse;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #5bb006;
}
